.container {
  margin: 0 auto;
  max-width: 780px;
}


.responsive-image {
  max-width: 100%;
  object-fit: cover;
}

.cell img {
  display: block;
  margin: 0 auto;
}

.fullwidth p{
 width: 100% !important

}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px 0px;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 780px) {
  .cell {
    width: calc(100% / 2);
  }
}



 /*for borders */

 /*

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}
 */
